<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>




<div class="container">
<h1 class="pt-5"> Crée ton Comment!</h1>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="form-group">
      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @comment.content, class: 'form-control', placeholder: "content : balance ton potin" %>
    </div>
      <%= submit_tag "Create Post", class: 'btn btn-default btn-dark text-light btn-submit' %>
    <% end %>
</div>
